
$primary   : #A67F00
$secondary : #000A59
$accent    : #BD9600

$dark      : #1D1D1D

$positive  : #21BA45
$negative  : #C10015
$info      : #31CCEC
$warning   : #F2C037

$apple     : #121212
$google    : #D73F2A
$facebook  : #3B5998
$twitter   : #1DA1F2

//var(--calendar-active-date-color) : var(--primary)
